body {
  background-color: thistle;
  font-family: Arial, Helvetica, sans-serif;
}
.btn {
  background-color: blueviolet;
  overflow: hidden;
  border-radius: 5px;
  border: 1px;
  margin: 2px;
  color: wheat;
  padding: 5px;
  cursor: pointer;
  transition: all 500ms;
}
.btn:hover {
  background-color: violet;
}

.btn:active {
  background-color: #fff;
}
